* {
    box-sizing: border-box;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4 {
    line-height: 2;
}

nav .brand-logo {
    margin-left: 3%;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;}


 /*  Single Plylist */
 
 .playlist-container{
    margin-top:1rem;
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
    max-height: 50%;
}

.card-content{
    max-height: inherit !important;
    padding: 0.5rem !important;
}

/*  Profile */

.username{
    text-transform: capitalize;
}

#section-playlist {
    margin: 0 auto 3rem;
    max-width: 55rem;
    padding: 3rem 3rem 2rem;
    width: 85%;
}

.playlist-img-top {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

