@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Combined with min-height on body, this sets footer to bottom of screen without any content */
main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.container {
    padding: 1rem 0;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4 {
    line-height: 2;
}

nav .brand-logo {
    margin-left: 3%;
}
.brand-logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.brand-logo img {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 228px;
}

.brand-logo a:hover {
    color: #07420e !important;
}

.text-intro {
    margin-bottom: 0px !important;
}

 /*  Single Plylist */
 
.playlist-container{
    margin-top:1rem;
}

.card-image-top {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
    max-height: 50%;
}

.card-content{
    max-height: inherit !important;
    padding: 0.5rem !important;
}

.btn {
    border-radius: 10px;
    margin: 3%;
}

.btn-small {
    margin: 2%;
    position: relative;
    justify-self: center;
}

.btn:hover {
    color: black !important;
    font-weight: 700;
}

.pl-playlist-player iframe {
    border-radius: 3%;
}

.card-panel .search-bar, .search-content {
    margin-bottom: 0px !important;
}

/*  Profile */

.username{
    text-transform: capitalize;
}

#section-playlist {
    margin: 0 auto 3rem;
    max-width: 55rem;
    padding: 3rem 3rem 2rem;
    width: 85%;
}

.playlist-img-top {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    width: 100% !important;
}

#heading-manage {
    margin: 0 auto;
    max-width: 40rem;
    width: 80%;
}

#section-playlist-summary,
#section-playlist,
#section-manage-playlist {
    background-color: rgba(251, 234, 222, 0.3);
}

#genre_card_title {
    font-weight: 600;
}
.card-title i {
    color: #21E666;
}

.card-profile {
    margin: 0 3px 0 30px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;}
}

/* CARDS */

.card {
    border-radius: 10px;
    overflow: hidden;
}
.card .card-image img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    width: 100% !important;
}

.card-image-top {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.card-stacked .card-content {
    padding: 1rem;
}

.card-stacked .card-action {
    padding: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#card-profile {
    height: 58rem !important;
} 

.card-form {
    width: 45% !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 5px;
}

/* FOOTER */

.footer-menu li {
    display:inline-block;
    padding: 0 1rem;
    border-right: thin solid;
}

.footer-menu li:last-child {
    border-right: none;
    padding: 0.5rem 0 0 1rem;
}

.footer-menu li,
.footer-links li {
    display:inline-block;
    padding: 0 1rem;
}

.footer-menu a,
.footer-links a {
    color: #fff;
    display: inherit;
    -webkit-transition: scale 0.1s ease;
    -o-transition: scale 0.1s ease;
    transition: scale 0.1s ease;
}

.footer-menu a:hover,
.footer-links a:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* Page 404 & 500 */

.Error404-500, .Error404-500 iframe {
    border-radius: 60px !important;

}