{% extends "base.html" %}
{% block content %}

<div class="row section-heading center valign-wrapper">

    <!-- Heading -->
    <div class="col s8 offset-s2">
        <h3>Music Genres</h3>
        <br>
        <h5>Here you can browser for playlists based in your favorite genre</h5>
    </div>

</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        {% for genre in all_genres %}
        <div class="col s12 m6 xl4">
            <div class="card light-green lighten-5 hoverable">

                <!-- Card name -->
                <div class="card-content genre-card-content valign-wrapper center">
                    <div class="col s12 card-title activator grey-text text-darken-4">
                        <a href="{{ url_for('single_genre', _id=genre._id) }}">
                            <h5 id="genre_card_title">{{ genre.genre_name}}</h5>
                            <i class="material-icons">library_music</i>
                        </a>
                    </div>
                </div>
                
                <div class="col s12 center-align">
                    <!-- Delete button -->
                    <div class="col s12 genre-card-icon">
                        {% if session.user|lower == "admin" and not genre.genre_name == "Unassigned" %}
                        <input type="hidden" name="genre_name" value="{{genre.genre_name}}">
                        <button class="btn-floating modal-trigger btn-small red" type="button" data-mdb-toggle="modal" data-mdb-target="#modal-delete{{ genre._id }}">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                        {% endif %}
                    </div>

                    <!-- Modal for Delete Confirmation -->
                    <div id="modal-delete{{ genre._id }}" class="modal modal-overlay fade" tabindex="-1" aria-labelledby="modal-deleteLabel-{{ genre._id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 id="modal-deleteLabel-{{ genre._id }}" class="modal-title">Do you want to Delete genre: "{{ genre.genre_name}}" ?</h5>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('delete_genre', genre_id=genre._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                    <a href="" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>

    <!--     HIDE THIS INPUT !   -->
{% if session.user|lower == "admin" and not all_genres.genre_name == "Unassigned" %}
<div class="container">
    <div class="row ">
        <h4 class="center-align"> Manage Genre </h4>
        <!-- EDIT GENRE -->
        <form class="col s12 m6 card-panel grey lighten-5 card-form" method="POST" action="">
            <h5 class="center-align">Edit Genre</h5>
            <!-- Music Genre name -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="genre" name="genre_id" class="browser-default" required>
                        <option disabled selected></option>
                        {% for genre in all_genres %}
                            <option value="{{genre._id}}">{{genre.genre_name}}</option>
                        {% endfor %}
                    </select>
                    <input hidden name="edit" value="edit">
                    <input id="genre_name" name="genre_name" type="text" minlength="5" maxlength="12" pattern="^[^\s][A-Za-z0-9\s]{1,30}$" class="validate" required placeholder="Type the new name">
                </div>
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <div class="col s6 right-align">
                    <button type="submit" class="btn custom-btn waves-effect green accent-4">Save Changes</button>
                </div>
                <div class="col s6 left-align">
                    <a class="btn custom-btn waves-effect red accent-4"
                        href="{{ url_for('all_genres') }}">Cancel</a>
                </div>
            </div>
        </form>

        <!-- ADD GENRE -->
        <form class="col s12 m6 card-panel grey lighten-5 card-form" method="POST" action="">
            <h5 class="center-align">Add Genre</h5>
            <!-- Music Genre name -->
            <div class="row">
                <div class="input-field col s10 center-align">
                    <input id="genre_name" name="genre_name" type="text" minlength="5" maxlength="12" pattern="^[^\s][A-Za-z0-9\s]{1,30}$" class="validate" required placeholder="Type new genre name">
                </div>
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <div class="col s6 right-align">
                    <button type="submit" class="btn custom-btn waves-effect green accent-4">Add Genre</button>
                </div>
                <div class="col s6 left-align">
                    <a class="btn custom-btn waves-effect red accent-4"
                        href="{{ url_for('all_genres') }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}