{% extends "base.html" %}
{% block content %}

<div class="row section-heading center valign-wrapper">

    <!-- Heading -->
    <div class="col s8 offset-s2">
        <h3>Music Genres</h3>
    </div>

</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        {% for genre in all_genres %}
        <div class="col s12 m6 xl4">
            <div class="card light-green lighten-5 hoverable">

                <!-- Card name -->
                <div class="card-content genre-card-content valign-wrapper center">
                    <div class="col s12 card-title activator grey-text text-darken-4">
                        <a href="{{ url_for('single_genre', _id=genre._id) }}">
                        <p>Genre: {{ genre.genre_name}}</p>

                    </div>
                </div>
                
                <div class="col s12 center-align">
                    <!-- Edit & Delete  Buttons -->
                <div class="card-body">
                    <a class="btn-small manage-genre-edit green darken-3" href="{{ url_for('edit_genre', genre_id=genre._id) }}"><i class="fas fa-edit"></i>Edit</a>
                    <button class="btn-small manage-genre-delete red accent-4" type="button" data-mdb-toggle="modal" data-mdb-target="#modal-delete{{ genre._id }}">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </div>  
                    <!-- Delete button -->
                    <div class="col s3 genre-card-icon">
                        {% if session.user|lower == "admin" and not genre.genre_name == "Unassigned" %}
                        <button data-target="{{ genre._id }}" class="btn-floating modal-trigger btn-small red"
                            aria-label="delete genre">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
        
            </div>
        </div>

        {% endfor %} 
    </div>
</div>
    <!-- HIDE INPUT -->

<div class="container">
    <div class="row ">
        <h4 class="center-align"> Manage Genre </h4>
        <!-- EDIT GENRE -->
        <form class="col s12 m6 card-panel grey lighten-5 " method="POST" action="">
            <h5 class="center-align">Edit Genre</h5>
            <!-- Music Genre name -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="genre" name="genre_name" class="browser-default" required>
                        <option disabled selected>Choose Music Genre</option>
                        {% for genre in music_genre %}
                            <option value="{{genre._id}}">{{genre.genre_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <div class="col s6 right-align">
                    <button type="submit" class="btn custom-btn waves-effect green accent-4">Edit
                        Genre</button>
                </div>
                <div class="col s6 left-align">
                    <a class="btn custom-btn waves-effect red accent-4"
                        href="{{ url_for('profile', username=session['user'])  }}">Cancel</a>
                </div>
            </div>
        </form>

        <!-- ADD GENRE -->
        <form class="col s12 m6 card-panel grey lighten-5" method="POST" action="">
            <h5 class="center-align">Add Genre</h5>
            <!-- Music Genre name -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="genre" name="genre_name" class="browser-default" required>
                        <option disabled selected>Choose Music Genre</option>
                        {% for genre in music_genre %}
                            <option value="{{genre._id}}">{{genre.genre_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- Submit button -->
            <div class="row">
                <div class="col s6 right-align">
                    <button type="submit" class="btn custom-btn waves-effect green accent-4">Add
                        Genre</button>
                </div>
                <div class="col s6 left-align">
                    <a class="btn custom-btn waves-effect red accent-4"
                        href="{{ url_for('profile', username=session['user'])  }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}