


{% extends "base.html" %}
{% block content %}
<section>
    <div class="container playlist-container center-align">
        <div class="center-align">
            <a href="{{ url_for('profile', username=session['user']) }}">
                <img class="back-page-logo" src="{{ url_for('static', filename='images/LogoTransp.png') }}" alt="Logo">
            </a>
    
        </div>
        <div class="row">
            <h2 class="align-center"> Welcome !</h2>
            <h4>"Music is better when shared."</h4>
            <br>
            <h6>Music has been shown in studies to improve general well-being, regulate emotions, and promote enjoyment and relaxation in everyday life. Specially in such unprecedent times. 
            </h6>
            <br>
            <h6>For all music lovers, a practical tool to share and organize your playlists is now live. Spoty Share List enables you to create, organize and share your playlists. Register on it now!</h6>
        </div>
        <br>
        <div class="row card-panel search-bar grey lighten-5">
            <form action="{{ url_for('search') }}" method="GET" class="col s12">
                <div class="row center-align">

                    <!-- Input field -->
                    <div class="input-field col s12 m7">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search Playlists</label>
                    </div>

                    <!-- Search buttons -->
                    <div class="col s12 m5 search-button-container">  
                        <div class="col s6 search-button">
                            <button type="submit" class="btn-small indigo text-shadow" aria-label="search button">
                                <i class="fas fa-search center-align"></i>
                            </button>
                        </div>
                        <div class="col s6 search-button">
                            <a href="{{ url_for('home') }}" class="btn-small teal accent-3 text-shadow" aria-label="reload page button">
                                <i class="fas fa-redo center-align"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="container playlist-container center-align">
        <div class="row">
        {% for playlist in playlists %}
                {% if loop.index < 4 %}
                    <div class="col s12 m6 xl4">
                        <div class="card medium hoverable">
                            <a href="{{ url_for('playlist', playlist_id=playlist._id) }}">
                                <div class="card-image">
                                    <img class="img_playlist" src="{{ playlist.img_url }}" alt="playlist">
                                </div>
                            </a>    
                            <div class="card-content">
                                <h5>{{ playlist.playlist_name }}</h5>
                                {% for genre in music_genre if playlist.genre == genre._id %}
                                    <p>{{ genre.genre_name}}</p>
                                {% endfor %}
                                <!-- Button Play on Spotify -->
                                <ul class="list-group list-group-flush posted-list">
                                    <li class="list-group-item center-align">
                                        <a href="{{ url_for('playlist', playlist_id=playlist._id) }}" class="btn green accent-4" data-playlist-id="312079"><i class="far fa-play-circle"></i> Open Playlist</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
        
        <!-- If no playlists -->
        {% else %}
            <div class="no-results-container flow-text indigo-text text-darken-4 center-align">
                {% if session.user %}
                    <p>There were no playlists to be found...</p>
                    <p>Click <a href="{{ url_for('add_playlist') }} ">here</a> to add your own!</p>
                {% else %}
                    <p>No results were found <i class="fas fa-sad-cry"></i></p>
                    <p><a href="{{ url_for('login') }}">Log In</a> or <a href="{{ url_for('register') }}">Register</a> to fill in the blanks!</p>
                {% endif %}
            </div>
        {% endfor %}   
    </div>  
</section>
{% endblock %}