{% extends "base.html" %}

{% block heading %}
<div class="text-center">
    <h2>Music Genre</h2>
</div>
{% endblock %}

{% block content %}
<section id="section-playlist-summary">
    <div class="container-fluid">
        <div class="row">
            <h3>{{ genre_name | title }}</h3>
            {% for playlist in playlists %}
            <div class="col-md-6 col-lg-4">
                <div class="card playlist-summary playlist-summary-height">
                    <!-- playlist Image & genre & Title -->
                    <div class="card-body">
                        {% if playlist.playlist_img_url %}
                        <a href="{{ url_for('playlist', playlist_id=playlist._id) }}">
                            <img class="card-image-top card-image waves-effect waves-block waves-light" src="{{ playlist.playlist_img_url }}" alt="{{ playlist.playlist_name }}" />
                        </a>
                        {% else %}
                        <a href="{{ url_for('playlist', playlist_id=playlist._id) }}">
                            <img class="card-image-top card-image waves-effect waves-block waves-light" src="{{ url_for('static', filename='images/PlaylistNOCover.png') }}" alt="No playlist image" />
                        </a>
                        {% endif %}
                        <p class="card-text genre">genre: {{ playlist.genre_name | title }}</p>
                        <h4 class="card-title pt-2 pb-1">{{ playlist.playlist_name | title }}</h4>
                        <!-- playlist Owner  -->
                        <ul class="list-group list-group-flush posted-list">
                            <li class="list-group-item text-center">Posted by {{ playlist.created_by | capitalize }}</li>
                        </ul>
                    </div>
                    <!-- See playlist Button -->
                    <div class="card-body">
                        <a class="card-link see-playlist" href="{{ url_for('playlist', playlist_id=playlist._id) }}">See playlist</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}