{% extends "base.html" %}
{% block content %}

<div class="row section-heading center valign-wrapper">

    <!-- Heading -->
    <div class="col s8 offset-s2">
        <h3>Music Genres</h3>
    </div>

</div>

<!-- Cards -->

<div class="row">
    {% for genre in music_genres %}
    <div class="col s12 m6 xl4">
        <div class="card light-green lighten-5 hoverable">



            <!-- Card name -->
            <div class="card-content genre-card-content valign-wrapper center">
                <div class="col s12 card-title activator grey-text text-darken-4">
                    <a href="{{ url_for('music_genre', _id=genre._id) }}">
                    <p>Genre: {{ genre.genre_name}}</p>

                    
                    
                </div>
            </div>

            <div class="col s12 card-action genre-card-action valign-wrapper center">

                <!-- Delete button -->
                <div class="col s3 genre-card-icon">
                    {% if session.user|lower == "admin" and not genre.genre_name == "Unassigned" %}
                    <button data-target="{{ genre._id }}" class="btn-floating modal-trigger btn-small red"
                        aria-label="delete genre">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            

                    
        </div>
    </div>

    {% endfor %}
    <!-- HIDE INPUT -->

    <div class="row">
        <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Edit</label>
            </div>
        </div>
        </form>
    </div>
</div>


{% endblock %}