{% extends "base.html" %}

{% block heading %}
<section id="heading-account">
    <h2 class="h2-p-5-15-1">Page 404</h2>
    <div class="text-center">
        <img class="page-404-img mb-4" src="{{ url_for('static', filename='images/LogoTransp') }}" alt="Page 404">
    </div>
    <div class="bubble text-center">
        <p class="h4 p-3 mb-0">Sorry but page not found...</p>
        <p class="diversion-home  pb-3 mb-0">Going back to HOME page?<br>Click <a href="{{ url_for('home') }}">HERE</a> or ME</p>
    </div>
    <a href="{{ url_for('home') }}">
        <img class="BigLogo" src="{{ url_for('static', filename='/images/BigLogoReadMe.png') }}" alt="Spoty Share List">
    </a>
</section>
{% endblock %}