{% extends "base.html" %}

{% block heading %}
<section id="heading-account" class="center-align">
    <div class="container">
        <div class="row">
            <div class="div col s12">
                <h2 class="h2-p-5-15-1">Error 404</h2>
                <br>
                <div class="center-align">
                    <div class=" tenor-gif-embed Error404-500 center-align" alt="Page 404" data-postid="17900619" data-share-method="host" data-width="95%" data-aspect-ratio="2.0">
                        <a href="https://tenor.com/view/john-travolta-where-am-i-lost-confused-huh-gif-17900619">John Travolta Where Am I GIF</a> from <a href="https://tenor.com/search/johntravolta-gifs">Johntravolta GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                </div>
                <br>
                <div class="bubble text-center">
                    <h3 class="h4 p-3 mb-0">Sorry but page not found...</h3>
                    <br>
                    <h5 class="diversion-home  pb-3 mb-0">Going back to HOME page?</h5>
                    <br>
                    <a class="btn-large custom-btn waves-effect green accent-4" href="{{ url_for('home') }}"> Click HERE</a>
                </div>
                <br>

            </div>
        </div>
    </div>

</section>
{% endblock %}