{% extends "base.html" %}

{% block heading %}
<section id="heading-account" class="center-align">
    <div class="container">
        <div class="row">
            <div class="div col s12">
                <h2 class="h2-p-5-15-1">Page 500</h2>
                <br>
                <div class="center-align">
                    <img src="https://hg1.funnyjunk.com/pictures/Funny+error+page_8f9b37_5134187.png" style="border-radius: 50px;" alt="error 500" srcset="">
                </div>
                <br>
                <div class="bubble text-center">
                    <h3 class="h4 p-3 mb-0"> Unexpected Error 500...</h3>
                    <br>
                    <h5 class="diversion-home  pb-3 mb-0">Going back to HOME page?</h5>
                    <br>
                    <a class="btn-large custom-btn waves-effect green accent-4" href="{{ url_for('home') }}"> Click HERE</a>
                </div>
                <br>

            </div>
        </div>
    </div>

</section>
{% endblock %}