{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h3 class="center-align username">
               {{ username }}'s Playlists 
            </h3>
        </div>
        
        <div class="row">
            {% for playlist in user_playlist %}
            <div class="col s12 m4">
                <div class="card playlist-summary playlist-summary-height bg-color-fbeade">
                    <!-- Title, Playlist Image, Genre & Details  -->
                    <div class="card-body">
                        <h4 class="center-align">{{ playlist.playlist_name }}</h4>
                        {% if playlist.img_url %}
                        <img class="card-img-top playlist-img-top border-radius-025" src="{{ playlist.img_url }}" alt="{{ playlist.playlist_name }}" />
                        {% else %}
                        <img class="card-img-top playlist-img-top border-radius-025" src="{{ url_for('static', filename='/images/PlaylistNOCover.png') }}" alt="No playlist image" />
                        {% endif %}
                        <h4 class="card-title center-align pt-2 pb-1">
                            {{ playlist.genre | title }}</h4>
                        <p class="card-text details">Details: {{ playlist.playlist_details }}</p>
                        
                        <!-- Tracks, Artits, Created By & Url -->
                        <ul class="list-group list-group-flush posted-list">
                            <li class="list-group-item bg-color-fbeade text-center">Tracks: {{ playlist.playlist_tracks | truncate(70) }}</li>
                            <li class="list-group-item bg-color-fbeade text-center">Artists: {{ playlist.artist_name | truncate(70) }}</li>
                            <li class="list-group-item bg-color-fbeade text-center">Created by: {{ playlist.created_by | capitalize}}</li>
                                <li class="list-group-item bg-color-fbeade text-center"><a href="{{ playlist.playlist_url }}" target="_blank" rel="noopener noreferrer">Spotify Link </a></li>
                        </ul>
                    </div>
                    <!-- Edit & Delet playlist Buttons -->
                    <div class="center-align card-body">
                        <a class="btn manage-playlist-edit btn-ffd5b7" href="{{ url_for('edit_playlist', playlist_id=playlist._id) }}"><i class="fas fa-edit"></i>Edit</a>
                        <button class="btn manage-playlist-delete btn-e84610" type="button" data-mdb-toggle="modal" data-mdb-target="#modal-delete{{ playlist._id }}">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal for Delete Confirmation & Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
            <div id="modal-delete{{ playlist._id }}" class="modal fade" tabindex="-1" aria-labelledby="modal-deleteLabel-{{ playlist._id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content color-493323">
                        <div class="modal-header">
                            <h4 id="modal-deleteLabel-{{ playlist._id }}" class="modal-title">Are you sure to DELETE?</h4>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h3 font-weight-700 mb-0">{{ playlist.playlist_title | title }} <span class="h5">playlist</span>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <form  method="POST">
                                <input class="btn btn-e84610 font-weight-700" type="submit" value="Delete">
                            </form>
                            <button class="btn btn-ffd5b7-06" type="button" data-mdb-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /End of Credit -->
    </div>
</section>

{% endblock %}