{% extends "base.html" %}

{% block content %}
<div class="center-align">
    <h2>{{ playlist.genre | title }} Music Genre</h2>
    {% for genre in single_genre if playlist.genre == genre._id %}
        <p>Genre: {{ genre.genre_name }}</p>
    {% endfor %}
</div>

<div class="row">
    {% for playlist in playlists %}
        <div class="col s12 m4">
            <a href="{{ url_for('playlist', playlist_id=playlist._id) }}">
                <div class="card medium">
                    <div class="card-image">
                        <img class="img_playlist" src="/static/images/PlaylistNOCover.png" alt="playlist">
                    </div>
                    <div class="card-content">
                        <h5>{{ playlist.playlist_name }}</h5>
                        <!-- Button Play on Spotify -->
                        <ul class="list-group list-group-flush posted-list">
                            <li class="list-group-item center-align">
                                <a href="{{ url_for('playlist', playlist_id=playlist._id) }}" target="_blank" class="btn green accent-4" data-playlist-id="312079"><i class="far fa-play-circle"></i> Play Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </a>
        </div>

    {% endfor %}
</div>
{% endblock %}