{% extends "base.html" %}

{% block title %}
Submit a new Playlist
{% endblock %}

{% block content %}

<div class="container">
    <h3 class="center-align"> Add Playlist </h3>
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">

                <!-- Music Genre name -->
                <div class="row">
                    <div class="input-field col s11">
                        <select id="genre" name="genre_name" class="browser-default" required>
                            <option disabled selected>Choose Music Genre</option>
                            {% for genre in music_genre %}
                                <option value="{{genre._id}}">{{genre.genre_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Playlist Name -->
                <div class="row">
                    <div class="input-field col s11">
                        <input id="playlist_name" name="playlist_name" type="text" pattern="^[^\s][A-Za-z0-9\s]{1,30}$"
                            class="validate" required>
                        <label for="playlist_name">Playlist name</label>
                    </div>
                </div>
                
                <!-- Enter Img URL -->
                <div class="row">
                    <div class="input-field col s11">
                        <input id="img_url" name="img_url" type="url" pattern="https?://.+" class="validate" 
                        value="" required>
                        <label for="img_url">Image url</label>
                        <span class="helper-text" data-error="enter valid URL" data-success="right">Please enter an Image Url.</span>
                    </div>
                </div>

                <!-- Playlist Details  -->
                <div class="row">
                    <div class="input-field col s11">
                        <textarea id="playlist_details" name="playlist_details" class="materialize-textarea validate"
                            required></textarea>
                        <label for="playlist_details">Playlist Details</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write a short summary in a single line.</span>
                    </div>
                </div>
               
                <!-- Playlist tracks  -->
                <div class="row">
                    <div class="input-field col s11">
                        <textarea id="playlist_tracks" name="playlist_tracks" class="materialize-textarea validate"
                            required></textarea>
                        <label for="playlist_tracks">Playlist Tracks</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write each song title in a single line.</span>
                    </div>
                </div>
                
                <!-- Artists Name  -->
                <div class="row">
                    <div class="input-field col s11">
                        <textarea id="artist_name" name="artist_name" class="materialize-textarea validate" required></textarea>
                        <label for="artist_name">Artist Name</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write each the name of the artist/artists in a single line.</span>
                    </div>
                </div>

                <!-- Enter Playlist URL -->
                <div class="row">
                    <div class="input-field col s11">
                        <input id="playlist_url" name="playlist_url" type="url" pattern="https:\/\/open.spotify.com\/playlist\/([a-zA-Z0-9]{18,25}$)+" class="validate" placeholder="Optional - Compatible only with Spotify">
                        <label for="playlist_url">Playlist Url</label>
                        <span class="helper-text" data-error="enter valid URL" data-success="right">You can copy the Playlist Url from the share button in the Spotify app, and paste it here
                        <br>E.g.: https://open.spotify.com/playlist/6PDXrjun1PrnqOC2iFQity .</span>
                        <br>
                    </div>
                </div>
                
                <!-- Submit button -->
                <div class="row">
                    <div class="col s6 right-align">
                        <button type="submit" class="btn custom-btn waves-effect green accent-4"><i class="far fa-save"></i> Add Playlist</button>
                    </div>
                    <div class="col s6 left-align">
                        <a class="btn custom-btn waves-effect red accent-4"
                            href="{{ url_for('profile', username=session['user'])  }}"><i class="far fa-window-close"></i> Cancel</a>
                    </div>
                </div>
        </form>
    </div>
</div>

{% endblock %}