{% extends "base.html" %}

{% block heading %}
<section id="heading-manage">
    <div class="center-align">
        <a href="{{ url_for('profile', username=session['user']) }}">
            <img class="back-page-logo" src="{{ url_for('static', filename='images/LogoTransp.png') }}" alt="Logo">
        </a>
        <h2 class="h2-p-0 h2-mt-4">Edit Your playlist</h2>
    </div>
</section>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" ction="{{ url_for('edit_playlist', playlist_id=playlist._id) }}">
            <!-- Select genre -->
            <div class="form-outline form-white mb-4">
                <label class="genre-name" for="genre_name">Genre</label>
                <select id="genre_name" class="form-select bg-color-49332-06 playlist-select color-fff" name="genre_name" aria-label="playlist genres">
                    {% for genre in music_genre %}
                    {% if music_genre._id == playlist.genre_name %}
                    <option value="{{ genre._id }}" selected>{{ genre.genre_name | title }}</option>
                    {% else %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name | title }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <!-- Playlist Title -->
            <div class="form-outline form-white mb-4">
                <label for="playlist_name">Playlist Title</label>
                <input id="playlist_name" class="form-control bg-color-49332-06" type="text" name="playlist_name" maxlength="30" value="{{ playlist.playlist_name }}" required />
                <p class="input-note">&#40;max 30&#41;</p>
            </div>

            <!-- Artists Name  -->
            {% for tracks in playlist.playlist_tracks %}
            <label for="playlist_artist_{{ loop.index }}"></label>
            {% endfor %}
            <div class="row">
                <div class="input-field col s11">
                    <textarea id="artist_name" name="artist_name" class="materialize-textarea validate"
                        required></textarea>
                    <label for="artist_name">Artist Name</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Write each the name of the artist/artists in a single line.</span>
                </div>
            </div>

            <!-- Playlist Details -->
            <div class="form-outline form-white mb-4">
                <label for="playlist_details">playlist Descriptions</label>
                <textarea id="playlist_details" class="form-control bg-color-49332-06" name="playlist_details" maxlength="300" rows="5" required>{{- playlist.playlist_details -}}</textarea>
                <p class="input-note">&#40;max 300&#41;</p>
            </div>
            <hr class="hr-fff">
            <!-- Enter Img URL -->
            <div class="row">
                <div class="input-field col s11">
                    <input id="img_url" name="img_url" type="url" pattern="https?://.+" class="validate" 
                    value="{{ playlist.img_url }}" required>
                    <label for="img_url">Image url</label>
                    <span class="helper-text" data-error="enter valid URL" data-success="right">If you don't have image url, keep the default value.</span>
                </div>
            </div>
            <hr class="hr-fff">
            <!-- Playlist tracks  -->
            {% for tracks in playlist.playlist_tracks %}
            <label for="playlist_tracks_{{ loop.index }}"></label>
            {% endfor %}
            <div class="row">
                <div class="input-field col s11">
                    <textarea id="playlist_tracks" name="playlist_tracks" class="materialize-textarea validate"
                        required></textarea>
                    <label for="playlist_tracks">Playlist Tracks</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Write each song title in a single line.</span>
                </div>
            </div>
            <br>
            <!-- Enter Playlist URL -->
            <div class="row">
                <div class="form-outline form-white mb-4">
                    <label for="playlist_url">Playlist URL</label>
                    <input id="playlist_url" class="form-control bg-color-49332-06" type="text" name="playlist_url" value="{{ playlist.playlist_url }}" required />
                    <span class="helper-text" data-error="enter valid URL" data-success="right">You can copy the Playlist Url from the share button in the Spotify app, and paste it here.</span>
                        <br>
                        <img src="https://i.postimg.cc/c4BybpzD/Howto-Spotify-Share.png" alt="How to share from Spotify" >
                </div>
            </div>
            <br>
            <!-- Post playlist Button -->
            <div class="row">
                <div class="col s6 right_align">
                    <button class="btn green accent-4 right-align" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                </div>
                <div class="col s6 left-align">
                    <a class="btn red accent-4 right-align" href="{{ url_for('profile', username=session['user']) }}">Cancel <i class="fas fa-times"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
