{% extends "base.html" %}
{% block content %}
<div class="container playlist-container center-align">
    <div class="row">
        <h2 class="align-center"> Playlists Library</h2>
        <br>
    </div>
    <div class="row card-panel search-bar grey lighten-5">
        <form action="{{ url_for('search') }}" method="GET" class="col s12">
            <div class="row center-align">

                <!-- Input field -->
                <div class="input-field col s12 m7">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Playlists</label>
                </div>

                <!-- Search buttons -->
                <div class="col s12 m5 search-button-container">  
                    <div class="col s6 search-button">
                        <button type="submit" class="btn-small indigo text-shadow" aria-label="search button">
                            <i class="fas fa-search center-align"></i>
                        </button>
                    </div>
                    <div class="col s6 search-button">
                        <a href="{{ url_for('library') }}" class="btn-small teal accent-3 text-shadow" aria-label="reload page button">
                            <i class="fas fa-redo center-align"></i>
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <div class="row">
        {% for playlist in playlists %}
            <div class="col s12 m4">
                <a href="{{ url_for('playlist', playlist_id=playlist._id) }}">
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img class="img_playlist" src="{{ playlist.img_url }}" alt="playlist">
                        </div>
                        <div class="card-content">
                            <h5>{{ playlist.playlist_name }}</h5>
                            {% for genre in music_genre if playlist.genre == genre._id %}
                                <p>{{ genre.genre_name}}</p>
                            {% endfor %}
                            <!-- Button Play on Spotify -->
                            <ul class="list-group list-group-flush posted-list">
                                <li class="list-group-item center-align">
                                    <a href="{{ url_for('playlist', playlist_id=playlist._id) }}" class="btn green accent-4" data-playlist-id="312079"><i class="far fa-play-circle"></i> Open Playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </a>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
