{% extends "base.html" %}

{% block heading %}
<h2 class="center-align playlist-title ">{{ playlist.playlist_name }} Playlist</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row card-panel grey lighten-5">
        <div class="grid-top">
            <!-- Playlist Image -->
            <div class="center-align grid-top-img">
                {% if playlist.img_url %}
                <img class="card-image-top border-radius-025" src="{{ playlist.img_url }}" alt="{{ playlist.playlist_name }}" />
                {% else %}
                <img class="card-image-top border-radius-025" src="{{ url_for('static', filename='/images/PlaylistNOCover.png') }}" alt="No playlist image" />
                {% endif %}
            </div> 
            <div class="playlist-full grid-top-title border-radius-025">
                <!-- Playlist Title, Creator & Detail -->
                <div class="center-align">
                    <h4 class="font-weight-400">by {{ user.username.capitalize() }}</h4>
                    <h6 class="card-text">{{ playlist.playlist_details }}</h6>
                </div>
                <!-- Buttons Genre & Play -->
                <div class="row">
                    <div class="col s6 right-align">
                        <a class="btn grey darken-3" target="_blank" href="{{ url_for('music_genre', _id=playlist.genre) }}">All {{ playlist.genre_name | title }} Playlists</a>
                    </div>
                    <div class="col s6 left-align">
                        {% if playlist.playlist_url %}
                            <a href="{{ playlist.playlist_url }}" target="_blank" class="btn green accent-4"><i class="far fa-play-circle"></i> Play Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-bottom col s6">
            <!-- Playlist Artist -->
            <div>
                <h5 class="text-center mt-3 font-weight-700">Artists</h4>
                <ul class="list-group list-group-flush border-radius-025">
                    {% for artist in playlist.artist_name.splitlines()%}
                    <li class="list-group-item">
                        &#9834; {{ artist }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Playlist Tracks -->
            <div>
                <h5 class="text-center font-weight-700 mt-4">Tracks</h5>
                <ul class="list-group list-group-flush border-radius-025">
                    {% for track in playlist.playlist_tracks.splitlines()%}
                    <li class="list-group-item">
                        &#9835; {{ track }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>

        {% if playlist.spotify_id %} 
            <!-- IFRAME START HERE -->
            <div class="container-row col s6">
                <div class="pl-playlist-player">
                    <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.spotify_id }}?theme=0" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <!-- IFRAME ENDS HERE -->
        {% endif %}
        

    </div>
</div>
{% endblock %}