{% extends "base.html" %}

{% block heading %}
<h2 class="playlist-title h2-p-5-15-1 mb-0">{{ playlist.playlist_name }} Playlist</h2>
{% endblock %}

{% block content %}
<section id="section-playlist" class="color-493323">
    <div class="grid-top">
        <!-- Playlist Image -->
        <div class="grid-top-img">
            {% if playlist.img_url %}
            <img class="card-img-top playlist-full-img border-radius-025" src="{{ playlist.img_url }}" alt="{{ playlist.playlist_name }}" />
            {% else %}
            <img class="card-img-top playlist-full-img border-radius-025" src="{{ url_for('static', filename='/images/PlaylistNOCover.png') }}" alt="No playlist image" />
            {% endif %}
        </div> 
        <div class="playlist-full grid-top-title bg-color-fbeade border-radius-025">
            <!-- Playlist Title, Creator & Detail -->
            <div class="text-center">
                <h3 class="font-weight-700">{{ playlist.playlist_name | title }} Playlist<br>by {{ playlist.created_by | title }}</h3>
                <p class="card-text">{{ playlist.playlist_details               }}</p>
            </div>
            <!-- Playlist Artist -->
            <div>
                <h4 class="text-center mt-3 font-weight-700">Artist</h4>
                <p class="text-center pb-3">
                    <i class="fas fa-users"></i> {{ playlist.artist_name }}
                </p>
            </div>
        </div>
    </div>
    <div class="grid-bottom">
        <!-- Playlist Tracks -->
        <div>
            <h5 class="text-center font-weight-700 mt-4">Tracks</h5>
            <ul class="list-group list-group-flush border-radius-025">
                {% for tracks in playlist.playlist_tracks %}
                <li class="list-group-item">
                    &#9679; {{ tracks }}
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
    <!-- Genre Links -->
    <div class="p-3">
        <a class="btn btn-ffd5b7-06" href="#">{{ playlist.genre_name | title }}</a>
    </div>
    {% if playlist.created_by %}
    <div class="bbc-playlist-full text-center pb-3">
        <a class="h6" href="{{ playlist.created_by }}" target="_blank" rel="noopener">TESTING Playlist</a>
    </div>
    {% endif %}
</section>
{% endblock %}