{% extends "base.html" %}
{% block content %}

    <h2>Playlists Library!</h2>

    {% for playlists in playlists %}
        {{ playlists.playlist_name }}<br>
        {{ playlists.genre_name }}<br>
        {{ playlists.playlist_details }}<br>
        {{ playlists.released_date }}<br>
        {{ playlists.image_file }}<br>
        {{ playlists.playlist_tracks}}<br>
        {{ playlists.artist_name }}<br>
        {{ playlists.created_by }}<br>
        {{ playlists.playlist_url }}<br>
    {% endfor %}

{% endblock %}